<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/start.css">
    <link rel="stylesheet" href="../css/haeder.css">
    <title>A.R</title>
</head>

<body>
    <main>
        <header>
            <!-- INTRO WELCOME -->
            <!-- <section class="intro">
                <section class="triangle-container">
                    <div class="triangle-right"></div>
                    <div class="triangle-left"></div>
                </section>
                <section class="name-container">
                    <h1 id="welcome"><button>Welcome</button></h1>
                </section>

                <div class="cover"></div>
            </section> -->

            <!-- HEADER CONTAINER FOR SWEEP ANIMATION -->
            <section class="header-container">


                <section class="header-content">
                    <nav id="nav">
                        <ul>
                            <li><a>About Me</a></li>
                            <li><a>Portoflio</a></li>
                        </ul>
                    </nav>
                    <!-- TRIANGLE -->
                    <div class="triangle"></div>

                    <div class="header-title">
                        <div class="name" id="name">
                            <h1>Alexander</h1>
                            <br>
                            <h1>Romero</h1>
                        </div>

                        <!-- <img src="../img/portrait.jpg" alt="portrait" class="portrait"> -->
                        <div class="portrait"></div>

                        <div class="full" id="full">
                            <h1>Full-Stack</h1>
                            <br>
                            <h1>Developer</h1>
                        </div>
                    </div>
                </section>
            </section>
        </header>

        <section id="about-me" class="about-me">
            <h1>About Me</h1>
            <p>My name is Alexander Romero and I'm a hardworking and inquisitive person with a great passion for
                programming and
                design. For me technology and programming are indispensable tools for every aspect of my profressional
                life.</p>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="../js/start.js"></script>
</body>

</html>