<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/start.css">
    <link rel="stylesheet" href="../css/haeder.css">
    <title>A.R</title>
</head>

<body>
    <main>
        <header>
            <!-- INTRO WELCOME -->
            <section class="intro">
                <section class="triangle-container">
                    <div class="triangle-right"></div>
                    <div class="triangle-left"></div>
                </section>
                <section class="name-container">
                    <h1 id="welcome"><button>Welcome</button></h1>
                </section>
            </section>

            <!-- HEADER CONTAINER FOR SWEEP ANIMATION -->
            <section class="header-container">
                <section class="header-content">
                    <div class="header-title-name">
                        <div class="triangle"></div>
                        <h1 class="header-title" id="alexander">Alexander</h1>
                        <h1 class="header-title" id="romero">Romero</h1>
                    </div>
                    <div class="header-title-full">
                        <h1 class="header-title" id="full">Full Stack</h1>
                        <h1 class="header-title" id="dev">Developer</h1>
                    </div>
                </section>
            </section>
        </header>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="../js/start.js"></script>
    <!-- <script src="../js/header.js"></script> -->
</body>

</html>