@use 'main';
@forward 'mixins';
@use 'mixins' as *;

.about-me{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    //DISPLAY SHOULD BE 'NONE'
    // display: none;
    
    .about-me-title{
        width: 95%;
        margin: 0 auto;
        text-align: right;
        border-bottom: 1px solid;
        @include font ('Voyage', 3rem, normal);
        @include flex (flex, space-between, center, row nowrap);

        .about-me-triangle{
            width: 2rem;
            height: 2rem;
            background-color: black;
            display: inline;
            position: relative;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
    }

    
    .about-me-content{
        width: 95%;
        @include flex (flex, center, center, row nowrap);
        margin: 0 auto;


        .about-me-text{
            width: 40rem;
            padding: 5rem;
            margin-left: -4rem;
            background-color: white;
            border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 1) 5px 5px 1px;
            
            h1{
                width: 100%;
                text-align: left;
                border-bottom: unset;
                @include font ('Voyage', 3rem, normal);
                @include flex (flex, space-between, center, row nowrap);
            }

            .about-me-text-mobile{
                display: none;
            }

            p{
                @include font ('PT Mono', 1.5rem, normal);
            }
        }


        .about-me-who{
            width: 16.25rem;
            min-width: 16.25rem;
            height: calc(100vh - 97px);
            overflow: hidden;
            z-index: -1;
            background-color: black;

            h1{
                color: black;
                @include font ('Voyage', 4rem, 200);
                white-space: nowrap;
                color: white;
            }
        }
    }
}


//MEDIA QUERIES
.about-me{

    .about-me-title{

        @include media-width(sm){
            font-size: 2rem;
        }

        .about-me-triangle{
            @include media-width(sm){
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    
    .about-me-content{
        position: relative;

        .about-me-who{
            @include media-width(md){
                position: absolute;
                top: 0;
                left: 0;
            }
            @include media-width(sm){
                display: none;
            }
        }

        .about-me-text{
            @include media-width(lg){
                padding: 3rem;
            }
            @include media-width(md){
                width: 80%;
                height: fit-content;
                position: absolute;
                padding: 2rem;
                top: 20vh;
                margin: 0 auto;
            }
            @include media-width(xs){
                width: 98%;
                margin: 0 auto;
                padding: 1rem;
            }

            .about-me-text-mobile{
                @include media-width(sm){
                    display: block;
                    max-width: 199.97px;
                    text-align: left;
                    border-bottom: unset;
                    @include font ('Voyage', 3rem, normal);
                    @include flex (flex, space-between, center, row nowrap);
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            .about-me-text-desktop{
                @include media-width(sm){
                    display: none;
                }
            }
        }

        
    }
}
