@use 'main';
@use 'mixins' as *;

.header-container{
    width: 100vw;
    height: 0;
    position: absolute;
    bottom: 0%;
    background-color: black;
}

.header-content{
    width: 100%;
    height: 100vh;
    @include flex (none, space-around, space-around, row nowrap);

    .triangle{
        width: 2rem;
        height: 2rem;
        background-color: white;
        clip-path: polygon(0 0, 0 100%, 100% 0);
    }

    .header-title-name, .header-title-full{
        @include font ('Voyage', 5rem, normal);
        color: white;
    }

    .header-title-full{
        text-align: right;
    }
}