@use 'mixins' as *;

//FONTS
@font-face {
    font-family: 'Voyage';
    src: url(../fonts/Voyage.otf);
}


//SHOW & HIDE
.inactive{
    display: none;
}

.active{
    display: flex;
}


// RESET
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    text-indent: 0;
    list-style-type: 0;
    list-style: none;
}

button,
input{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


//MAIN SECTION
body{
    width: 100vw;
    margin: 0 auto;
}